[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "==5.2.2"
onnxruntime = ">=1.20,<2"
pillow = ">=10,<13"
pyautogui = "==0.9.54"
pywin32 = ">=308"
rapidocr = "==3.8.1"

[dev-packages]
pyinstaller = ">=6.11,<7"

[requires]
python_version = "3.12"
